body {
    margin: 0;
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}


body, .header, .header-title-section, .information-section, .information-element, .quote-section, .signup-text {
    display: flex;
    flex-direction: column;
}

.header-top, .header-bottom, .information, .signup-window {
    display: flex;
    justify-content: space-between;
}

.header, .information-section, .quote-section, .call-to-signup-section, .footer {
    padding: 0 128px 0;
}

.header, .footer {
    color: #E5E7EB;
    background-color: #1F2937;
}


.header {
    font-size: 18px;
    padding-bottom: 80px;
}

.information-section {
    padding-bottom: 80px;
}

.call-to-signup-section {
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: center;
}


.header-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0;
}

.secondary-text {
    margin: 0;
}

.signup-window, button {
    color: white;
    background-color: #3882F6;
    border-radius: 4px;
}

button {
    font-weight: bold;
    border: none;
    padding: 6px 24px;
}


.header-title-section {
    align-items: baseline;
    gap: 8px;
}

.header-image {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    background-color: gray;
    min-height: 256px;
    min-width: 512px;
    margin: 48px 0 0 24px;
    justify-content: center;
    align-items: center;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937; 
    text-align: center;
}

.information {
    margin: 0 256px;
    gap: 64px;
    justify-content: center;
}

.information-element {
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.information-image {
    height: 196px;
    width: 196px;
    border-style: solid;
    border-color: #3882F6;
    border-width: 4px;
    border-radius: 16px;
}

.information-subtext {
    width: 196px;
    font-size: 18px;
    color: #1F2937;
    text-align: center;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 96px 0 64px;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 840px;
    flex-wrap: nowrap;
}

.quote-signature {
    display: flex;
    justify-content: right;
    margin: 8px 0 0 516px;
    font-size: 24px;
    font-weight: bold;
}


.signup-window {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 96px;
}

.signup-text {
    display: flex;
    flex-direction: column;
}

.signup-title {
    font-weight: bold;
    font-size: 20px;
    margin: 4px 0;
}

.white-border {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #E5E7EB;
    border-width: 2px;
    max-height: 30px;
}
