body {
    margin: 0;
}

ul {
    display: flex;
    gap: 12px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}


body, .header, .information-section, .information-element, .quote-section, .signup-text {
    display: flex;
    flex-direction: column;
}

.header-top, .header-bottom, .information, .signup-window {
    display: flex;
    justify-content: space-between;
}

.header, .information-section, .quote-section, .call-to-signup-section, .footer {
    padding: 0 128px 0;
}

.header, .footer {
    color: #E5E7EB;
    background-color: #1F2937;
}


.header {
    font-size: 18px;
    padding-bottom: 80px;
}

.information-section {
    padding-top: 12px;
    padding-bottom: 80px;
}

.quote-section {
    background-color: #E5E7EB;
    padding-top: 96px;
    padding-bottom: 64px;
}

.call-to-signup-section {
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer {
    padding-top: 24px;
    padding-bottom: 24px;
}


.header-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.signup-window, button {
    color: white;
    background-color: #3882F6;
    border-radius: 4px;
}

button {
    font-weight: bold;
    border: none;
    padding: 6px 24px;
}

.signup-window {

}

